{% extends 'base/base-00.html' %}
{%load static%}

{% block base-00 %}

<div class="container-mob">
  <header class="my-navbar-mob">
    <a href="/"> <img src="{% static 'imgs/logo_02.png'%}" alt="logo" width="200px"></a>

    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      <i class="fa fa-bars"></i>
    </a>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <div class="my-offcanvas-head">
          <h5 style="color: white;">{{request.user.username}}</h5>
          <a class="my-offcanvas-link" href="/logout/">(Sair)</a>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="my-offcanvas">
      <a class="my-offcanvas-link" href="/">Home</a>
      <a class="my-offcanvas-link" href="/cliente/nova_consulta/">Nova Consulta</a>
      <a class="my-offcanvas-link" href="/cliente/novo_exame/">Novo Exame</a>
      <a class="my-offcanvas-link" href="/cliente/financeiro/">Financeiro</a>
      <a class="my-offcanvas-link" href="/cliente/convenios/">Convênios</a>
      <a class="my-offcanvas-link" href="/cliente/mg_solicitadas/">Guias Solicitadas</a>
      <a class="my-offcanvas-link" href="/cliente/mg_aprovadas/">Guias Aprovadas</a>
      <a class="my-offcanvas-link" href="/cliente/mg_faturadas/">Guias Faturadas</a>
      <a class="my-offcanvas-link" href="/cliente/mg_auditadas/">Guias Auditadas</a>
      <a class="my-offcanvas-link" href="/cliente/mg_canceladas/">Guias Canceladas</a>
      </div>
    </div>
  </header>
  {% block base-02 %}{% endblock %}
  
</div>
{% endblock %}