{% extends 'base/base-01.html' %}
{%load static%}

{% block base-01 %}

<div class="home-content">
  <h4>SIGAME - Sistema Integrado da Gestão Médico Empresarial</h4>
  <hr>

  <div class="home-line1">
    <div class="home-line1-col1">
      <h5 style="line-height: 1.5;">
        Com o propósito de criar um cenário complexo, que pudesse proporcionar a prática dos conceitos aprendidos
        no curso de Pós Graduação em Engenharia de Software da Puc Minas Virtual, foi desenvolvido o SIGAME.
      </h5>
    </div>
    
    <div class="home-line1-col1">
      <img src="{% static 'imgs/puc_02.jpg'%}" alt="logo" width="150px">
    </div>
  </div>

  <div class="home-line1">
    <div class="home-line1-col1">
      <img src="{% static 'imgs/logo 01.png'%}" alt="logo" width="150px">
    </div>

    <div class="home-line1-col1">
      <h5 style="line-height: 1.5;">
        Baseando-se na vivência profissional dos integrantes, decidiu-se pela criação de um sistema que pudesse auxiliar
        uma empresa em sua gestão de apoio médico oferecido aos colaboradores. 
      </h5>
    </div>
  </div>

  <div class="home-line1">
    <div class="home-line1-col1">
      <h5 style="line-height: 1.5;">
        No SIGAME, o cliente poderá solicitar consultas e exames, visualizar status de aprovação e faturamento,
        entre outros...
      </h5>
    </div>
    
    <div class="home-line1-col1">
      <img src="{% static 'imgs/logo_saude_01.png'%}" alt="logo" width="150px">
    </div>
  </div>
  


</div>

{% endblock %}